<footer class="bg-dark text-white footer mt-auto py-3">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <span>&copy; <%= Date.today.year %> FinReach</span>
    <ul class="list-inline mb-0">
      <li class="list-inline-item me-3">
        <%= link_to "Terms", terms_path, class: "text-decoration-none text-white" %>
      </li>
      <li class="list-inline-item me-3">
        <%= link_to "Privacy", privacy_path, class: "text-decoration-none text-white" %>
      </li>
      <li class="list-inline-item">
        <a href="https://facebook.com" target="_blank" class="text-decoration-none text-white">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com" target="_blank" class="text-decoration-none text-white">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
