<p><%= t('fsp_devise.mailer.unlock_instructions.greeting', email: @resource.email) %></p>

<p><%= t('fsp_devise.mailer.unlock_instructions.locked_notice') %></p>

<p>
  <%= link_to t('fsp_devise.mailer.unlock_instructions.unlock_link_text'),
              unlock_url(@resource, unlock_token: @token) %>
</p>
