<div class="container py-4">
  <h1 class="mb-4"><%= t('dashboard.title', name: @user.name) %></h1>

  <%= render 'dashboard/kpi_cards', total_revenue: @total_revenue, total_expenses: @total_expenses, total_income: @total_income, net_profit: @net_profit %>

  <%= render 'dashboard/charts', revenue_by_month: @revenue_by_month, expenses_by_month: @expenses_by_month, income_vs_expense: @income_vs_expense %>

  <%= render 'dashboard/data_tables', products: @products, sales: @sales, incomes: @incomes, expenses: @expenses, low_stock_products: @low_stock_products, top_selling_products: @top_selling_products %>
</div>
